;; shadow-cljs configuration
{:deps {:aliases [:test]}
 :cache-root ".shadow-cljs"
 :builds {:main {:target :npm-module
                 :output-dir "lib"
                 :compiler-options {:source-map true}}
          :main-test {:target :node-test
                      :output-to "lib/main-test.js"
                      :ns-regexp "-test$"}}}
